<% provide(:title, '') %>

<div class="row">
  <br/><br/>
  <div class="col-md-12 text-center">
    <h1><%= link_to image_tag("logo-dcid.png", alt: "DCID logo", width: "300"), '#' %></h1>
    <br/>
    <h1><strong>PROPOSE</strong></h1>
    <h1><strong>DISCUSS</strong></h1>
    <h1><a href="#"><button class="btn btn-success btn-lg">DCID</button></a></h1>
  </div>
  <br/><br/>
</div>
