<% provide(:title, 'Como funciona') %>

<div class="row">
  <div class="span12">

    <h1>Como funciona?</h1>

    <br>

    <div class="row">
      <div class="span3 text-center">
        <i class="fa fa-sign-in fa-4x"></i>
        <h2><strong>Registar</strong></h2>
        <p>Para participar precisa apenas de criar um perfil. Só lhe pedimos alguns dados essenciais e é você que decide se eles são públicos ou não.</p>
      </div>
      <div class="span3 text-center">
        <i class="fa fa-comments fa-4x success"></i>
        <h2><strong>Propor</strong></h2>
        <p>Apresente problemas e sugira soluções. Seja construtivo, use o bom-senso e pense a longo-prazo. Oiça sugestões e melhore a sua proposta.</p>
      </div>
      <div class="span3 text-center">
        <i class="fa fa-check-square-o fa-4x"></i>
        <h2><strong>Votar</strong></h2>
        <p>Exerça o seu poder de decisão e decida que propostas devem ser impletmentadas. O seu voto é único e secreto, como sempre.</p>
      </div>
      <div class="span3 text-center">
        <i class="fa fa-users fa-4x"></i>
        <h2><strong>Partilhar</strong></h2>
        <p>Tire partido da sua rede de contactos e obtenha mais votos. Quantos mais formos mais expressivas e democráticas serão as votações.</p>
      </div>
    </div>

    <br>

    <div class="text-center">
      <button class="btn btn-success btn-large">Comece a decidir, agora!</button>
    </div>

  </div>
</div>
