<% provide(:title, 'Termos de utilização') %>

<div class="row">
  <div class="span12">

    <h1>Termos de utilização</h1>

    <h3>Resumo</h3>
    <ul>
      <li>O DCID não é um produto acabado. Sendo um protótipo, é possível que falhe, na pior altura, da pior maneira. Obrigado pela sua compreensão.</li>
      <li>A única informação pessoal que guardamos são os dados que o utilizador nos fornece durante o seu registo. Prometemos protegê-los.</li>
      <li>O conteúdo e opiniões publicadas nesta plataforma são da exclusiva responsabilidade dos seus respectivos autores e não podem ser associadas ao DCID, ao Code4PT ou a qualquer dos seus elementos. Somos apenas uma ferramenta.</li>
    </ul>

    <p>Todas as suas informações pessoais recolhidas serão usadas para permitir uma utilização eficaz do DCID. A informação pessoal recolhida inclui o seu nome, e-mail, número de bilhete de identidade ou cartão de cidadão. Estes dados são fornecidos voluntariamente pelo utilizador aquando do seu registo. Utilizamos cookies para armazenar as suas preferências pessoais quando visita a nossa plataforma. O utilizador detém o poder de desligar os seus cookies, nas opções do seu browser.</p>
    <p>O DCID pode possuir ligações para outros sites, os quais, a nosso ver, podem conter informações úteis para os nossos utilizadores. A nossa política de privacidade não é aplicada a sites de terceiros, pelo que, caso visite outro site a partir do nosso deverá ler a política de privacidade do mesmo. Não nos responsabilizamos pela política de privacidade ou conteúdo presente nesses mesmos sites.</p>
    <p>A plataforma DCID guarda conteúdo criado pelos seus utilizadores. Esse conteúdo é da inteira responsabilidade do(s) seu(s) autor(es). O DCID é apenas uma ferramenta. O movimento Code4PT e os seus elementos, não podem de forma alguma ser associados ao conteúdo e opiniões deixadas na plataforma.</p>

  </div>
</div>
