<li>
  <%= gravatar_for user, size: 32 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
  &nbsp;<%= link_to '<button class="btn">Apagar</button>'.html_safe, user, method: :delete, data: { confirm: "De certeza?" } %>
  <% end %>
</li>
