<% provide(:title, 'Cidadãos') %>

<div class="row">
  <div class="col-md-12">

    <h1>Todos os cidadãos</h1>

    <ul class="users">
      <%= render @users%>
    </ul>

    <%= will_paginate %>

  </div>
</div>
