<% provide(:title, 'Cidadãos') %>

<div class="row">
  <div class="span12">

    <h1>Todos os cidadãos</h1>

    <ul class="users">
      <% @users.each do |user| %>
        <%= render user %>
      <% end %>
    </ul>

    <%= will_paginate %>

  </div>
</div>
