<% if user.is_name_public %>
  <%= link_to user.short_name, user %>
<% else %>
  <%= user.short_name %>
<% end %>

<% if not user.political_party.empty? %>
  <% if    user.political_party == 'PSD' or user.political_party == 'PPD/PSD' %>
    <span class="badge bkg-orange">
  <% elsif user.political_party == 'CDS' or user.political_party == 'CDS-PP' %>
    <span class="badge bkg-blue">
  <% elsif user.political_party == 'PS' %>
    <span class="label label-default label-pink">
  <% elsif user.political_party == 'PCP' %>
    <span class="badge bkg-red">
  <% elsif user.political_party == 'BE' %>
    <span class="label label-default label-inverse">
  <% elsif user.political_party == 'PEV'   or
           user.political_party == 'LIVRE' or
           user.political_party == 'PAN'   or
           user.political_party == 'MPT' %>
    <span class="badge bkg-green">
  <% else %>
    <span class="badge">
  <% end %>
  <%= user.political_party %></span>
<% end %>
