<a class="btn btn-success" title="I agree with this proposal." href="#"><b><i class="fa fa-thumbs-up"></i>&nbsp;<%= proposal.upvotes %></b></a>&nbsp;
<a class="btn btn-danger" title="I disagree with this proposal." href="#"><b><i class="fa fa-thumbs-down"></i>&nbsp;<%= proposal.downvotes %></b></a>
