## All values to the keys below MUST be inside "quotation marks".
## For more information about how to configure this file, refer to the figaro gem page.
## After this file is fully configured, run `figaro heroku:set -e production` command to deploy the configurations to production.

# Generic

APP_ROOT_DOMAIN:  #"example.org" if you will deploy DCID on http://www.example.org/

# Rake

ADMIN_NAME:       #"Administrator Maximus"
ADMIN_EMAIL:      #"admin@example.com"
ADMIN_PASS:       #"adminadmin"
ADMIN_ID:         #"12345678" your admin's citizen number

# Mailer

MAILER_USER:      #"YourSendgridUsername"
MAILER_PASS:      #"your_sendgrid_password"
MAILER_ADDRESS:   #"smtp.sendgrid.net"
