<% provide(:title, 'Erro: problema no servidor') %>

<div class="row">
  <div class="span12 text-center">
    <h1 class="text-error">Erro no servidor</h1>
    <p>Ocorreu um erro do nosso lado e não foi possível satisfazer o seu pedido. Tente novamente.</p>
    <p>Se voltar a falhar, tente mais tarde.</p>
    <p>Por fim, entre em contacto connosco.</p>
  </div>
</div>
