<% if @proposal.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Há <%= pluralize(@proposal.errors.count, "problema") %> com o seu formulário.
    </div>
    <ul>
    <% @proposal.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
