<% provide(:title, 'Propostas') %>

<div class="row">
  <div class="span12">

    <h1>Todas as propostas</h1>

    <p><%= link_to '<button class="btn btn-success pull-right">Criar proposta</button>'.html_safe, new_proposal_path %></p>
    <br><br><br>

    <ul>
      <%= render @proposals %>
    </ul>

    <%= will_paginate %>

  </div>
</div>
