<% provide(:title, 'Criar proposta') %>

<div class="row">
  <div class="col-md-12">
    <h1>A sua proposta</h1>

    <%= render 'proposal_form', edit: false %>
      </div>
    </div>
  </div>
</div>
