<footer class="footer">
  <small>
    <%= link_to 'DCID '+app_version(), about_path %>&nbsp; é apenas um protótipo!
  </small>
  <nav>
    <ul>
      <li><%= link_to "Quem somos",   about_path %></li>
      <li><%= link_to "Termos",       terms_path %></li>
      <li><%= mail_to "dialex.nunes@outlook.com", "Contacto", subject: "DCID Suporte" %></li>
    </ul>
  </nav>
</footer>
