<footer class="footer">
  <small>
    <a href="#">DCID <%= app_version() %></a> é apenas um protótipo!
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre nós", '/static_pages/about' %></li>
      <li><%= link_to "Contacto",  '#' %></li>
    </ul>
  </nav>
</footer>